<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Mongoose</h1>
		<p>Name: <%=mongoose[0].name%></p>
		<p>Hiearchy: <%=mongoose[0].hiearchy%></p>
		<p>Level: <%=mongoose[0].level%></p>
</body>
</html>