<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action='/mongooses' method='POST'>
		Hiearchy:
		<input type='text' name='hiearchy'><br>
		Name:
		<input type='text' name='name'><br>
		Level:
		<input type='text' name='level'><br>
		<input type='submit' value='Add to the Pack'>
	</form>
</body>
</html>